@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,300;1,700;1,900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

@import "./global/global.css";
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";

/* HOME */
/* header */
@import "./header/header.css";

/* home */
@import "./introducao/introducao.css";

/* bicicletas listas */
@import "./bicicletas-lista/bicicletas-lista.css";

/* tecnologia */
@import "./tecnologia/tecnologia.css";

/* parceiros */
@import "./parceiros/parceiros.css";

/* depoimento */
@import "./depoimento/depoimento.css";

/* seguros */
@import "./seguros/seguros.css";
