.botao {
  color: #332403;
  display: inline-block; /* inlineblock, porque a tag A é elemento inline e nao ia ficar estourando o container */
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content; /* o maxwidth = max-content serve pro botao sempre ter o tamanho maximo dele, ele nao vai crescer mais do que isso */
}
.botao-secundario {
  color: #ffffff;
  display: inline-block; /* inlineblock, porque a tag A é elemento inline e nao ia ficar estourando o container */
  padding: 16px 32px;
  background: #2e2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content; /* o maxwidth = max-content serve pro botao sempre ter o tamanho maximo dele, ele nao vai crescer mais do que isso */
}
.botao-secundario:hover {
  background: #404040;
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.ponto {
  color: #ffbb00;
}

.link {
  display: inline-block; /* usei inlineblock para o after ter o tamanho de 100% do pai (tag A) se nao ele teria o tamanho total do container por ser uma tag inline */
  color: #ffbb00;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
}
