.texto-grande {
  color: #ffffff;
  font-size: 3.8rem;
  /* line-height: 1.2; */
  font-family: "poppins", sans-serif;
}

.texto-medio {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #b2b2b2;
}
.texto-span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-size: "roboto", sans-serif;
  color: #b2b2a3;
}

.cor-0 {
  color: #111111;
}

.cor-1 {
  color: #ffffff;
}
