.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: #ffffff;
  position: relative;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.header-menu a::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    gap: 20px;
  }
  .header-menu a::after {
    display: none;
  }
  .header-menu a {
    padding: 8px 12px;
    font: 14px;
    background-color: #222121;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background-color: #3b3a3a;
  }
}

@media (max-width: 650px) {
  .header-menu {
    justify-content: center;
  }
  .header-menu a {
    font: 10px;
    padding: 8px 12 px;
    background-color: #222121;
    border-radius: 5px;
  }
}
