body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a,
span {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
