html {
  zoom: 80%;
}
.introducao-bg {
  background-color: #000000;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo p {
  margin-bottom: 40px;
}

.introducao h1 {
  color: white;
  margin-bottom: 32px;
}

.introducao img {
  /* ISSO SERVE PARA QUANDO EU AJUSTAR A IMAGEM DO TAMANHO QUE EU QUERO, ELA NAO FICA ESTICADA FEIA */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
