.seguros-bg {
  padding-top: 50px;
  background-color: #111111;
  color: white;
}

.seguros {
  padding: 60px 0px 60px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 40px;
}

.seguros-item {
  display: grid;
  padding: 32px 32px 32px 60px;
  grid-template-columns: 1fr auto;
  background-color: #000000;
  box-shadow: -12px 10px 47px 0px rgba(255, 255, 255, 0.03);
  -webkit-box-shadow: -12px 10px 47px 0px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: -12px 10px 47px 0px rgba(255, 255, 255, 0.03);
  border-radius: 4px;
}
.seguros-item h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #9c9c9c;
  font-size: 2.8rem;
  letter-spacing: 2px;
}
.preço {
  font-weight: 500;
  display: inline-block;
  font-size: 2.3rem;
  letter-spacing: 1.1;
  font-family: "poppins", sans-serif;
}
.mensal {
  font-size: 1.2rem;
  text-align: right;
  color: #889c9c;
  display: block;
}

.seguros-item ul {
  grid-column: 1/-1;
}

.seguros-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.seguros-item li + li {
  margin-top: 20px;
}

.seguros-item a {
  margin-top: 40px;
  grid-column: 1/-1;
}
.seguros-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.seguros-item .ouro {
  color: #ffbb00;
}
.lista-prata li {
  font-size: 1.2rem;
}
.lista-ouro li {
  font-size: 1.4rem;
}

@media (max-width: 1000px) {
  .seguros-bg h2 {
    font-size: 2rem;
  }
  .seguros {
    display: grid;
    grid-template-columns: 1fr;
  }
  .lista-prata {
    margin-top: 25px;
  }
  .lista-ouro {
    margin-top: 25px;
  }
  .preço {
    margin-top: 10px;
    font-size: 1.3rem;
  }
}
